@-webkit-keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body, input, button, textarea, select {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #252525;
}

body {
  background-color: #EEEEEE;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  font-weight: 400;
  font-size: 0.75rem;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

header {
  background-color: #20BF6B;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 70px;
}

header h1 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFF;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

header .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .btn {
  margin-right: 50px;
}

header .menu {
  position: relative;
}

header .menu ul {
  display: none;
  width: 280px;
  padding: 0 20px 20px 20px;
  background-color: #20BF6B;
  position: absolute;
  right: 0px;
  margin-top: 21px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeRight .3s forwards;
          animation: fadeRight .3s forwards;
  border-radius: 0 0 8px 8px;
}

header .menu ul.active {
  display: block;
  -webkit-animation: fadeLeft .3s forwards;
          animation: fadeLeft .3s forwards;
}

header .menu ul .btn {
  width: 240px;
  margin-top: 20px;
}

header .menu ul .btn + .btn {
  margin-top: 20px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

form {
  background-color: #FFF;
  max-width: 420px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeRight .3s forwards;
          animation: fadeRight .3s forwards;
}

form h2 {
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input, form select, form textarea {
  border-radius: 8px;
  border: none;
  background-color: #EEEEEE;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  outline: none;
}

form input:focus, form select:focus, form textarea:focus {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.btn {
  width: 180px;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
  text-align: center;
  display: inline-block;
  background-color: #FFF;
  color: #252525;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.btn:hover {
  background-color: #EEEEEE;
  color: #139651;
}

button {
  width: 180px;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  -webkit-transition: background .3s;
  transition: background .3s;
  text-align: center;
  color: #FFF;
  background-color: #20BF6B;
  margin: 10px auto 0 auto;
}

button:hover {
  background-color: #139651;
}

table {
  width: 100%;
  border: none;
  border-spacing: 0 20px;
}

table tr {
  background-color: #FFF;
}

table .invisible {
  visibility: hidden;
}

table td, table th {
  padding: 10px 0;
}

table td:nth-child(2), table th:nth-child(2) {
  border-radius: 8px 0 0 8px;
  padding-left: 20px;
}

table td:last-child, table th:last-child {
  border-radius: 0 8px 8px 0;
  padding-right: 20px;
}

table th {
  font-weight: 500;
  font-size: 1rem;
}

table td {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #848A9D;
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background .3s;
  transition: background .3s;
  display: none;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal form .btn {
  background-color: #FF3838;
  -webkit-transition: background .3s;
  transition: background .3s;
  color: #FFF;
}

.modal form .btn:hover {
  background-color: #d12323;
}

.modal form button {
  display: inline-block;
  margin-left: 15px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px 0;
}

footer p {
  margin-left: 30px;
  color: #848A9D;
}
/*# sourceMappingURL=style.css.map */