// Colors ----------------------------
$black: #252525;
$opacity: rgba(0, 0, 0, 0.3);
$white: #FFF;
$light-gray: #EEEEEE;
$gray: #848A9D;
$primary: #20BF6B;
$secondary: #139651;

// Fonts ----------------------------
@mixin text {
  font-weight: 400;
  font-size: 1rem;
}

@mixin text-medium {
  font-weight: 500;
  font-size: 1rem;
}

@mixin subtitle {
  font-weight: 400;
  font-size: 1.125rem;
}

@mixin subtitle-medium {
  font-weight: 500;
  font-size: 1.125rem;
}

@mixin label {
  font-weight: 400;
  font-size: 0.75rem;
}

@mixin title {
  font-weight: 500;
  font-size: 1.5rem;
}

// Shadow ----------------------------
$shadow: 1px 1px 5px $opacity;

// Anim ----------------------------
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}