// Imports ----------------------------
@import 'var';

// Styles ----------------------------
header {
  height: 150px;

  .container {
    height: 70px;
  }
}

.cards {
  margin-top: -80px;
  display: flex;

  .card {
    background-color: $white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: $shadow;flex: 1;

    div {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h3 {
      @include subtitle;
    }

    p {
      font-weight: 500;
      font-size: 2.25rem;
    }

    & + .card {
      margin-left: 20px;
    }
  }
}

.tables {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  margin-top: 50px;

  .ultimas {
    grid-column: 1;
    
    // table {
    //   background-color: red;
    // }
  }
  
  .pendentes {
    grid-column: 2;
    
    // table {
    //   background-color: blue;
    // }
  }

  h2 {
    @include subtitle-medium;
    // text-align: center;
    display: inline-block;
    margin-right: 20px;
  }

  & .sub-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}