// Imports ----------------------------
@import 'var';

// Reset ----------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// Padrão ----------------------------
body, input, button, textarea, select {
  font-family: 'Poppins', sans-serif;
  @include text;
  color: $black;
}

body {
  background-color: $light-gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

label {
  @include label;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

header {
  background-color: $primary;
  flex-shrink: 0;
  height: 70px;

  h1 {
    @include title;
    color: $white;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    div {
      display: flex;
      align-items: center;
    }

    .btn {
      margin-right: 50px;
    }
  }

  .menu {
    position: relative;

    ul {
      display: none;
      width: 280px;
      padding: 0 20px 20px 20px;
      background-color: $primary;
      position: absolute;
      right: 0px;
      margin-top: 21px;
      box-shadow: $shadow;
      animation: fadeRight .3s forwards;
      border-radius: 0 0 8px 8px;

      &.active {
        display: block;
        animation: fadeLeft .3s forwards;
      }

      .btn {
        width: 240px;
        margin-top: 20px;

        & + .btn {
          margin-top: 20px;
        }
      }
    }
  }
}

main {
  flex: 1 0 auto;
}

form {
  background-color: $white;
  max-width: 420px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: $shadow;
  animation: fadeRight .3s forwards;

  h2 {
    @include subtitle-medium;
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, select, textarea {
    border-radius: 8px;
    border: none;
    background-color: $light-gray;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;

    &:focus {
      box-shadow: $shadow;
    }
  }
}

.btn {
  width: 180px;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  @include text-medium;
  cursor: pointer;
  transition: background .3s;
  text-align: center;
  display: inline-block;
  background-color: $white;
  color: $black;
  transition: color .2s;

  &:hover {
    background-color: $light-gray;
    color: $secondary;
  }
}

button {
  width: 180px;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  @include text-medium;
  cursor: pointer;
  display: block;
  transition: background .3s;
  text-align: center;
  color: $white;
  background-color: $primary;
  margin: 10px auto 0 auto;

  &:hover {
    background-color: $secondary;
  }
}

table {
  width: 100%;
  // border-collapse: collapse;
  border: none;
  border-spacing: 0 20px;

  tr {
    background-color: $white;
  }

  td, th {
    padding: 10px 0;

    &:first-child {
      border-radius: 8px 0 0 8px;
      padding-left: 20px;
    }

    &:last-child {
      border-radius: 0 8px 8px 0;
      padding-right: 20px;
    }
  }
  
  th {
    @include text-medium;
  }
  
  td {
    @include text;
    text-align: center;
    color: $gray;
  }
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .3s;
  display: none;

  &.active {
    display: flex;
  }

  form {
    flex: 1;

    .btn {
      background-color: #FF3838;
      transition: background .3s;
      color: $white;
      
      &:hover {
        background-color: #d12323;
      }
    }

    button {
      display: inline-block;
      margin-left: 15px;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 10px 0;

  p {
    margin-left: 30px;
    color: $gray;
  }
}