// Imports ----------------------------
@import 'var';

// Styles ----------------------------
table {
  margin-top: 30px;
}

.produtos .container {
  max-width: 580px;
}

.clientes .container {
  max-width: 780px;
}
